.home-social-links{
    display: flex;
    gap: 15;
    margin-bottom: 40px;
    width: 50%;
}

.social-icon{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #11141f;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-right: auto;
    transition: transform 0.2s;
}

.social-icon:hover{
    transform: scale(1.1);
}