.image-button{
    display: flex;
    /* justify-content: space-between; */
    gap: 7px;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;

    transition: opacity 0.2s;
    transition: transform 0.2s;

    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.image-button:hover{
    opacity: 0.8;
    transform: scale(1.1) rotate(-2deg);
}

.image-button-image{
    
}

.image-button-text{

}